div {
  display: flex;
}

button {
  margin: 8px;
}

.calculadora {
  width: 98%;
  height: 800px;
  background-color: lightgrey;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display {
  background-color: rgb(0, 0, 0);
  width: 50%;
  height: 50px;
  flex-direction: column;
}

.numbers {
  flex-direction: column;
}

.numb {
  flex-direction: row;
  justify-content: center;
}

.numb button {
  background-color: #525252;
  height: 40px;
  width: 40px;
}

.operacao {
  flex-direction: column;
}

.operacao button {
  height: 40px;
  width: 40px;
  background-color: gray;
}

.buttons button {
  cursor: pointer;
  border: 1px solid #000;
}

.buttons {
  align-items: center;
}

.dois {
  flex-direction: column;
}

.resul button {
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.keys {
  flex-direction: column;
}
