body {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  height: 87.5%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.background {
  background: rgb(81, 121, 190);
  background: radial-gradient(
    circle,
    rgba(81, 121, 190, 1) 60%,
    rgba(166, 182, 208, 1) 100%
  );
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.calculadora {
  position: absolute;
  height: auto;
  width: auto;
  background-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 18px;
}

.cbutton {
  border: #474747;
  border-radius: 5px;
  background-color: #474747;
  height: 70px;
  width: 70px;
  font-size: larger;
  margin: 2px;
  cursor: pointer;
}

.cbutton:hover {
  background-color: #545454;
}

img {
  width: 350px;
}

#display {
  border-radius: 5px;
  width: 305px;
  background-color: #d3d3d3;
  height: 80px;
  font-size: 25px;
  color: black;
  text-align: right;
  cursor: text;
  font-size: 40px;
}

#display:hover {
  background-color: #c3c3c3;
}
